html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#gameStage{
  width: 100%;
  height: 100%;
}
#charater{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#jumpBtn,
#slideBtn{
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  bottom: 10px;
  background: #c19;
  color: #fff;
  text-decoration: none;
}
#jumpBtn{
  right: 120px;
}
#slideBtn{
  right: 50px;
}